# .gitignore

# Virtual Environment
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE-specific files
.vscode/
*.sublime-project
*.sublime-workspace
.idea/

# Compiled Python files
*.pyc

# Compiled C extension
*.so

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# macOS
.DS_Store

